*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html{
    font-size: 62.5%;
}
body{
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.classnav{
    font-size: 3rem;
    margin-bottom: 5rem;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(76, 108, 110);
    padding: 5rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin-top: 10rem;
    width: 40rem;
    margin: auto;
    margin-top: 5rem;
}
.contenedor-img{
    display: flex;
    justify-content: center;
    width: auto;
    margin-bottom: 2rem;
}
.contenedor{
    font-size: 2rem;
    /* width: 30rem; */
}
.button{
    margin-top: 2rem;
    width: 10rem;
    height: 4rem;
}
